:root {
    --default-font: 300 16px/19px 'Inter';
    --default-font-color: #000000;
    --font-inter: 'Inter';
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #F5F5F5;
    font: var(--default-font);
    color: var(--default-font-color);
}